# requirements.txt

# Streamlit & visualization
streamlit
streamlit-aggrid==0.3.4.post3

plotly
pandas
numpy

# PostgreSQL DB connector
psycopg2-binary

# Spatial (PostGIS)
geopandas
shapely
sqlalchemy

# Optional: Geo plotting
folium
pydeck

# Caching and utility
python-dotenv

rapidfuzz==3.6.2
